* {
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
}

#root {
    background: linear-gradient(white, #ffdb97);
    padding: 1rem;
}

header {
    text-align: center;
}

header img {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.section1_div1 {
    display: none;
}

.section1_div2 img {
    width: 100%;
}

.section2 img {
    width: 100%;
}

footer {
    border-top: 2px solid red;
    padding-top: 1rem;
    text-align: center;
}

.footer_div1{
    padding: 1rem 0;
}

.footer_div1 span:not(:first-child)::before {
    content: "|";
    padding: 0.5rem;
}

.footer_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: red;
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
    color: white;
}

footer .footer_div2 svg {
    font-size: 1.4rem;
}

.phone,
.facebook,
.website {
    display: flex;
    align-items: baseline;
}

.phone svg {
    color: red;
    background-color: white;
    border-radius: 50%;
    padding: 0.2rem;
}
