*{
    font-size: 14px;
}

body {
    margin: 0;
}

#root {
    width: calc(100vw - 2rem);
    background: linear-gradient(white, #ffdb97);
    padding: 1rem;
}

header {
    text-align: center;
}

header img {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.section1_div1{
    display: none;
}

.section1_div2{

}

.section1_div2 img{
    width: 100%;
}

.section2 img{
    width: 100%;
}
