*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
}

#root{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(white, #f9d287);
}

header{
  text-align: center;
}

header img{
  width: 100%;
}

